#view-index {
  section.robot_joint {
    display: inline-block; max-width: 24%;

    p.robot_joint_description {
      height: 32px; overflow-y: scroll;
    }
    span.value-degrees {
      font-size: 24px;
    }
    input#up, input#down {
      min-height: 32px;
    }
    input[type=text]#value {
      text-align: right; width: 45px; border-width: 0; font-size: 24px; color: black; background-color: transparent;
    }
    input[type=text]#min_value {
      width: 24px; border-width: 0; font-size: 14px; color: black; background-color: transparent;
    }
    input[type=text]#max_value {
      text-align: right; padding-left: 8px; width: 24px; border-width: 0; font-size: 14px; color: black; background-color: transparent;
    }
  }
}