{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Robot State{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="type">Type</label>
    <input name="type" id="type" value="{{ request.form['type'] }}">
    <label for="value">Default Value</label>
    <input name="value" id="value" value="{{ request.form['value'] }}" required>
    <label for="min-value">Min Value</label>
    <input name="min-value" id="min-value" value="{{ request.form['min-value'] }}" required>
    <label for="max-value">Max Value</label>
    <input name="max-value" id="max-value" value="{{ request.form['max-value'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}