{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Current Robot Arm State{% endblock %}</h1>
{% endblock %}
{% block content %}
  <div id="view-index">
    <div><a class="action" href="{{ url_for('arm.create') }}">Add Robot State</a></div>
    <br>
    {% for robot_state in robot_states %}
      <section class="robot_joint">
        <h1>{{ robot_state['name'] }}</h1>
        <p class="robot_joint_description">{{ robot_state['description'] }}</p>
        <form method="post" class="robot_state">
          <input type="hidden" name="id" id="id" value="{{ robot_state['id'] }}">
          <input type="hidden" name="name" id="name" value="{{ robot_state['name'] }}">
          <input type="hidden" name="type" id="type" value="{{ robot_state['type'] }}">
          <input type="button" id="up" value="Up">
          <br>
          <input type="button" id="down" value="Down">
          <div class="robot-state-value">
            <input type="text" name="value" id="value" value="{{ robot_state['value'] }}" disabled="disabled"><span class="value-degrees">&deg;</span>
            <br>
            <em>{{ robot_state['type'] }}</em>&nbsp;(<input type="text" name="min_value" id="min_value" value="{{ robot_state['minValue'] }}" disabled="disabled"> - <input type="text" name="max_value" id="max_value" value="{{ robot_state['maxValue'] }}" disabled="disabled">)
            <br>
            <span>Pins: </span><span id="pin1">{{ robot_state['pin1'] }}</span>, <span id="pin2">{{ robot_state['pin2'] }}</span>, <span id="pin3">{{ robot_state['pin3'] }}</span>, <span id="pin4">{{ robot_state['pin4'] }}</span>
          </div>
          <div class="robot-state-value">Updated on {{ robot_state['updated'].strftime('%Y-%m-%d') }}</div>
        </form>
        <a class="action" href="{{ url_for('arm.update', id=robot_state['id']) }}">Configure</a>
        {% if not loop.last %}
        <hr>
        {% endif %}
        <div id="result"></div>
      </section>
    {% endfor %}
  </div>
{% endblock %}