{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ robot_state['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or robot_state['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or robot_state['description'] }}</textarea>
    <label for="type">Type</label>
    <input name="type" id="type" value="{{ request.form['type'] or robot_state['type'] }}" required>
    <label for="value">Value</label>
    <input name="value" id="value" value="{{ request.form['value'] or robot_state['value'] }}" required>
    <p><em>Updates the joint's current position to 'Value', does not move motor.</em></p>
    <label for="min-value">Min Value</label>
    <input name="min-value" id="min-value" value="{{ request.form['min-value'] or robot_state['minValue'] }}" required>
    <label for="max-value">Max Value</label>
    <input name="max-value" id="max-value" value="{{ request.form['max-value'] or robot_state['maxValue'] }}" required>
    <label for="pin1">Pin 1</label>
    <input name="pin1" id="pin1" value="{{ request.form['pin1'] or robot_state['pin1'] }}">
    <label for="pin2">Pin 2</label>
    <input name="pin2" id="pin2" value="{{ request.form['pin2'] or robot_state['pin2'] }}">
    <label for="pin3">Pin 3</label>
    <input name="pin3" id="pin3" value="{{ request.form['pin3'] or robot_state['pin3'] }}">
    <label for="pin4">Pin 4</label>
    <input name="pin4" id="pin4" value="{{ request.form['pin4'] or robot_state['pin4'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('arm.delete', id=robot_state['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}